:root {
  --dark-blue: #133840;
  --dark-green: #2b4b40;
  --light-green: #92a73e;
  --cream: #fef49d;
  --light-brown: #b48c59;
  --teal: #49695e;
}

body {
  background-color: var(--dark-blue);
}
.content {
  width: 80%;
  border-left: 5px double black;
  border-right: 5px double black;
  background-color: var(--light-brown);
  margin: auto;
}

nav {
  background-color: var(--light-green);
  border-bottom: 5px double black;
}

.btn {
  background-color: var(--dark-green);
  border: 0;
}

.back-banner {
  background-image: url("./farmers.jpg");
  width: 60%;
  object-fit: contain;
  height: 20rem;
  margin: auto;
  background-color: var(--cream);
  background-blend-mode: multiply;
  text-align: center;
}

.banner-top-text {
  width: 80%;
  text-align: center;
  margin: auto;
  font-weight: bold;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.searchbar {
  width: 70%;
  margin-top: 2rem;
}

.filter-settings {
  width: 70%;
  margin: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #dadada;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.big-box {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 2rem;
}
