@font-face {
  font-family: "Trendy hipster font";
  src: url(signika/Signika/Signika-Regular.ttf) format("woff");
}

p {
  font-size: 1.25rem;
}

span {
  font-size: 1.125rem;
}

.fit-image {
  width: 100%;
}

.order-item {
  border-bottom: 3px solid #ddd;
  margin-bottom: 0.75rem;
}

.closer {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  vertical-align: middle;
  line-height: 1.5rem;
}

.closer:hover {
  cursor: pointer;
}

.trendy-header {
  padding-top: 1.5rem;
  background-color: rgb(63, 150, 63);
  color: white;
  font-family: "Trendy hipster font";
  padding-bottom: 2rem;
  border-bottom: 1rem solid rgb(66, 139, 112);
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.trendy-content {
  background-color: white;
  width: 70%;
  padding: 2.5rem;
  border-radius: 1.2rem;
  margin-bottom: 5rem;
}

.trendy-sidebar {
  background-color: white;
  width: 18%;
  height: 35rem;
  /* margin: auto; */
  padding: 1.5rem;
  border-radius: 1.2rem;
  margin-bottom: 5rem;
}

.boxed {
  border: 1px solid gray;
  border-radius: 0.5rem;
}

.store-item {
  border-bottom: 1px solid #aaa;
  width: 100%;
}

.store-item-col {
  margin-right: 4rem;
}

.food-item {
  width: 12rem;
  height: 12rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #99bb88;
  border: 4px solid black;
}

.food-list-item {
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
}

.big-span {
  font-size: 1.75rem;
}

.stars {
  font-size: 1.5rem;
}

.trendy-spacer {
  width: 60%;
  margin: auto;
  left: 5rem;
}

.navbar {
  margin-bottom: 2.5rem;
  border-bottom: 0.25rem solid slategray;
}

.nav-item,
.nav-title {
  color: white;
}

html,
body {
  background-color: rgb(130, 168, 206);
}
